{% extends 'navbar.html' %}
{% load static %}

{% block body %}
<div class="container" style="margin-top: 50px;">
    <h2 class="text-center" style="color: crimson; font-weight: bold;">Facilities That We Are Providing</h2>
    <hr class="rounded">
    
    
<br>
<p style="color: darkorchid; size: 10px;">
    Only of its kind in Aurangabad, this Critical Care Ambulance is boon for patients undergoing trauma who need immediate medical attention. Supported by a 24 Hour Helpline, this Ambulance can be hired by any patients in & around Aurangabad. The Salient Features are as follows.

<h2 style="color: darkturquoise;">Equipped with :</h2>


<h4>- Ventilator,</h4>
<h4>- Oxygen,</p>
<h4>- Defibrillator,</h4>
<h4>- ECG,</h4>
<h4>- Pulse Oxymeter,</h4>
<h4>- Glucometer Accompanied by Qualified Doctor and Trained Nursing & Para-Medical staff.</h4>


<h3>Contact Hospital on +91 240 663 2111</h3>

<h3 style="color: deeppink;">Call 0240 2377999 - Ext. 609 ask for Critical care Ambulance</h3>
</p>

{% endblock %}