{% extends 'navbar.html' %}
{% load static %}

{% block body %}
<div class="container" style="margin-top: 50px;">
<h2 class="text-center">View Patient</h2>
<br>
<table class="table table-hover" id="example">
    <thead>
        <th>Patient ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Contact</th>
        <th>ACTION</th>
        <th>ACTION</th>
    </thead>
    {% for i in patient_list %}
    <tr>
        <td><h6>{{i.id}}</h6></td>
        <td><h6>{{i.name}}</h6></td>
        <td><h6>{{i.gender}}</h6></td>
        <td>{{i.address}}</td>
        
        <td><h4><a href="/update_patient/{{i.id}}" class="btn btn-outline-primary">UPDATE</a></h4></td>
        <td><h4><a href="/delete_patient/{{i.id}}" class="btn btn-outline-danger">DELETE</a></h4></td>
    </tr>
    {% endfor %}
</table>
</div>


{% endblock %}